<div class="py-10 px-5 ">
    <div class="w-full h-[80px] flex justify-between">
        <div >
            <h2 class="font-sans text-5xl font-bold py-1">Tasks</h2>
            <p class="font-sans text-2xl font-medium ">All Tasks</p>
        </div>
        <div class="flex flex-col  gap-2 items-center px-10">
            <div class="flex gap-2  items-center justify-center">
                <button class="bg-black  text-base py-2 px-6  hover:border-2 rounded-3xl text-white hover:bg-white hover:text-black hover:border-black" (click)="openCreateTaskModal()">New Task</button>
                <button class="bg-black   hover:border-2 text-base py-2 px-6 rounded-3xl text-white hover:bg-white hover:text-black hover:border-black" (click)="fetchTasks()">Refresh</button>
            </div>
            <div>
                <input type="text" placeholder="Search" class="outline-none px-6 py-3 rounded-lg text-xl border-2" />
            </div>
        </div>
    </div>
    <div class="py-14 overflow-x-auto">
        <table class="border-2 bg-white border-black min-w-full">
            <thead>
                <tr class="border-b-2 border-black">
                    <th class="text-gray-500 text-xl">No.</th>
                    <th class="text-gray-500 text-xl">Assigned To</th>
                    <th class="text-gray-500 text-xl">Status</th>
                    <th class="text-gray-500 text-xl">Due Date</th>
                    <th class="text-gray-500 text-xl">Priority</th>
                    <th class="text-gray-500 text-xl">Comments</th>
                    <th class="text-gray-500 text-xl">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let task of tasks; let i = index; ">
                    <td class="py-2 text-lg font-sans font-medium">{{i+1}}</td>
                    <td class="py-2 text-lg font-sans font-medium">{{task.assignedTo}}</td>
                    <td class="py-2 text-lg font-sans font-medium">{{task.status}}</td>
                    <td class="py-2 text-lg font-sans font-medium">{{task.dueDate}}</td>
                    <td class="py-2 text-lg font-sans font-medium">{{task.priority}}</td>
                    <td class="py-2 text-lg font-sans font-medium">{{task.description}}</td>
                    <td class="py-2 text-lg font-sans font-medium ">
                        <div class="flex gap-2 items-center justify-center">
                            <button class="bg-blue-400 px-4 py-2 rounded-3xl text-white" (click)="openEditTaskModal()">Edit</button>
                            <button class="bg-red-500 px-4 py-2 rounded-3xl text-white" (click)="openDeleteTaskModal(task._id)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>